@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.navbar {
  background-color: #000000; /* Background color */
  overflow: hidden; /* Hide overflowing content */
  position: fixed; /* Fixed position at the top */
  top: 0; /* Position it at the top of the page */
  width: 100%; /* Full width */
  text-align: center; /* Center-align the content horizontally */
  padding-top: 1%; /* Padding around the text */
}

/* Style for the navigation bar links */
.navbar a {
  display: inline-block; /* Display them as inline-block elements */
  color: #c94916; /* Text color */
  text-align: center; /* Center-align text */
  font-size: larger;
  padding-top: 1%; /* Padding around the text */
  padding-bottom: 1%; /* Padding around the text */
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none; /* Remove underlines */
}

/* Style for the navigation bar links on hover */
.navbar a:hover {
  background-color: #dfdfdf; /* Background color on hover */
  color: black; /* Text color on hover */
}





button {
  background-color: #c94916;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 20%;
  margin-top: 5%;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
  font-size: large;
  transition: all 0.6s cubic-bezier(0.30,0.30,0.26,1.55);
}

.buttonFooter {
  width: 100%;
  border-radius: 10px;
  
}

#wrapper{
  display: none;
}

h2{
  margin-top: 8%;
  margin-left: 45%;
  font-weight: bold;
  font-size: xx-large;
  transition: all 0.6s cubic-bezier(0.30,0.30,0.26,1.55);
}

/* Remove bullets from the list */
ul {
  list-style-type: none;
  padding-left: 2%;
}

/* Style list items */
li {
  background-color: #000000;
  border-radius: 15px;
  margin-left: 27%;
  margin-top: 2%;
  font-size: large;
  width: 40%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 3%;
  border: 1px solid #ccc;
  color: #dfdfdf;
}

/* Style buttons */
.btn-group {
  display: flex;
}

.btnView {
  margin-top: 5%;
  margin-left: 10%;
  width: 30%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-size: large;
}

.btnDelete {
  margin-top: 5%;
  margin-left: 10%;
  width: 30%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-size: large;
  background-color: #c94916;
}





.wrapper{
  /*overflow: hidden;*/
  /*max-width: 500px;*/
  margin-left: 27%;
  width: 40%;
  background: black;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-top: 100px;
}

.wrapper .title-text{
  display: flex;
  width: 200%;
  color: #fff;
}

.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .form-container{
  width: 100%;
  /*overflow: hidden;*/
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  color: white;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form label{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    /*border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;*/
    font-size: 17px;
    transition: all 0.3s ease;
    color: white;
  }
.form-inner form .field input:focus{
  border-color: #c94916;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #c94916;
}

form .btn{
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: #c94916;
  border-radius: 15px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}