*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: white;
  }
.navbar {
    background-color: #000000; /* Background color */
    overflow: hidden; /* Hide overflowing content */
    position: fixed; /* Fixed position at the top */
    top: 0; /* Position it at the top of the page */
    width: 100%; /* Full width */
    text-align: right; /* Center-align the content horizontally */
    padding-top: 1%; /* Padding around the text */
}

/* Style for the navigation bar links */
.navbar a {
    display: inline-block; /* Display them as inline-block elements */
    color: #c94916; /* Text color */
    text-align: center; /* Center-align text */
    font-size: larger;
    padding-top: 1%; /* Padding around the text */
    padding-bottom: 1%; /* Padding around the text */
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none; /* Remove underlines */
}

/* Style for the navigation bar links on hover */
.navbar a:hover {
    background-color: #dfdfdf; /* Background color on hover */
    color: black; /* Text color on hover */
}

h1{
    float: left;
    color: #c94916;
    margin-left: 10px;
    font-family: broadway;
}
.section{
    margin: 0;
    padding: 0;
    height: 87vh;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 800px;
    height: 500px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid #c94916;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: #c94916;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid #c94916;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: #c94916;
}
#radio2:checked ~ .nav-auto .a-b1{
    background-color: #c94916;
}
#radio3:checked ~ .nav-auto .a-b1{
    background-color: #c94916;
}






